# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/
env/

# Conda
.env
.conda

# Jupyter
.ipynb_checkpoints/

# Models
models/trained/*.pkl

# Generated Reports
*.pdf

# Streamlit
.streamlit/

# VSCode
.vscode/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db