# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# Models
*.pt
*.pth
*.pkl
models/trained/

# Data
datasets/raw/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db